.p-page-btn{
    display: flex;
    position: relative;
    justify-content: space-between;
}


.p-page-btn--prev{
    position: absolute;
    top:-6vh;
    left: 3vh;

    
    
}

.p-page-btn--next{
    position: absolute;
    top: -6vh;
    right: 4vh;
  
}
