.l-footer {
  width: 100%;
  background-image: url("../images/footer.png");
  
}


.footer-image {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-top: 8vw;
  padding-right: 2vw;
  @media only screen and (min-width: 600px) {
    padding:5vw 0vw 0vw 0vw;
  }
  @media only screen and (min-width: 1025px) {
    padding:3vw 0vw 0vw 0vw;
   
  }
}

.footer-image2 {
  height: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media only screen and (min-width: 1025px) {

  }
}

.footer-image-text-title1 {
  font-size: 4.3vw;
  color: #fff;
  display: inline-block;
  position: relative;
  padding:0.8vw 2vw 0vw 2vw;
  @media only screen and (min-width: 600px) {
    font-size: 2.2vw;
    padding:0vw;

  }
  @media only screen and (min-width: 1025px) {
    font-size: 1.6vw;

  }
}

.footer-image-line {
  margin: 0.8vw 3.2vw 0vw 4vw;
  @media only screen and (min-width: 600px) {
    margin: 0.3vw 2vw;
  }
  @media only screen and (min-width: 1025px) {
    margin: 0.1vw 2vw;
  }
}

.footer-image-line::after {
  width: 0.39vw;
  height: 4.8vw;
  //position: absolute;
  //top: 22%;
  //right:51%;
  content: "";
  display: inline-block;
  background-color: #fff;
  @media only screen and (min-width: 600px) {
    width: 0.1vw;
    height: 2.2vw;
  }

  @media only screen and (min-width: 1025px) {
    content: "";
    display: inline-block;
    width: 0.1vw;
    height: 1.5vw;
    background-color: #fff;
    //position: absolute;
    //top: 43%;
    //right: 50%;
  }
}

.footer-image-title3 {
  color: #fff;
  font-size: 4.3vw;
  padding:0.8vw 2vw 0vw 2vw;
  @media only screen and (min-width: 600px) {
    font-size: 2.2vw;
    padding:0.1vw 0vw 0vw 0vw;

  }
  @media only screen and (min-width: 1025px) {
    //color: #fff;
    font-size: 1.6vw;
    padding:0.1vw 0vw 0vw 0vw;
  }
}

.footer-image-title4 {
  color: #fff;
  font-size: 2.8vw;
  //position: absolute;
  //bottom: 8vw;
  padding-bottom: 5vw;
  padding-left: 2vw;
  @media only screen and (min-width: 600px) {
   
    color: #fff;
    font-size: 1.8vw;
    padding-bottom: 4vw;
  padding-left: 0vw;
  }
  @media only screen and (min-width: 1025px) {
    padding-bottom: 3vw;
    color: #fff;
    font-size: 0.8vw;
    padding-left: 2vw;
  }
}

