/* 
body
スマホサイズを320を最小値にするため設定
*/
body {
  min-width: 320px;
  //overflow-x: hidden;
  position: fixed;
  //width: 100%;
  height: 100%;

  @media only screen and (min-width: 600px) {
    //（ここにタブレット用スタイルを記述）
  }
  @media only screen and (min-width: 1025px) {
    //（ここにパソコン用スタイルを記述）
    position: initial;
  }
}

/* 
l-container
全体をレイアウトしているクラス。
スマホ：高さ2716px
タブレット：hegiht1825pxにする。折り返しはしないようにする。
PC：幅と高さを設定。flexとwrapで横並びになるようにする。
レイアウトなどの高さは設定しないとのことで講師からアドバイスがあったため、autoにした
が、そもそもデフォルトがautoなので設定不要
*/

.l-container {
  height: 100%;
  //display: block;
  //flex-wrap: nowrap;
  width: 100%;
  //overflow: hidden;
  //position: relative;
  //position: fixed;
  //display: flex;
  //background-attachment:fixed;

  @media only screen and (min-width: 600px) {
    //（ここにタブレット用スタイルを記述）
  }
  @media only screen and (min-width: 1025px) {
    //（ここにパソコン用スタイルを記述）
    width: 100%;
    //height: 2993px;
    display: flex;
    flex-wrap: wrap;
  }
}
.is-open2 {
  height: 100%;
  width: 100%;
  position: relative;
}

.is-open2::before {
  width: 100%;
  height: 100%;
  //z-index: 1000;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.445);
  opacity: 0.7;

  @media only screen and (min-width: 600px) {
  }
  @media only screen and (min-width: 1025px) {
    //（ここにパソコン用スタイルを記述）
    display: none;
  }
}
/* 
l-main
「ダミーサイト」の画像・その下２つの並ぶ画像をまとめた部分

.l-main {
  background-color: #fff;
  height: auto;
  width: auto;

  @media only screen and (min-width: 600px) {
    //（ここにタブレット用スタイルを記述）
  }
  @media only screen and (min-width: 1025px) {
  }
}

*/
