/* 
body
スマホサイズを320を最小値にするため設定
*/
body {
  min-width: 320px;
}
/* 
l-container
全体をレイアウトしているクラス。
スマホ：高さ2716px
タブレット：hegiht1825pxにする。折り返しはしないようにする。
PC：幅と高さを設定。flexとwrapで横並びになるようにする。
*/

.l-container {
  height: 2716px;
  display: block;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  position: relative;
  position: fixed;
  display: flex;
  @media only screen and (min-width: 600px) {
    //（ここにタブレット用スタイルを記述）
    display: block;
    flex-wrap: nowrap;
    height: 1825px;
  }
  @media only screen and (min-width: 1025px) {
    //（ここにパソコン用スタイルを記述）
    width: 100%;
    height: 2993px;
    display: flex;
    flex-wrap: wrap;
  }
}

.l-container::before {
  width: 100%;
  height: 2843px;
  z-index: 1000;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.445);
  
  @media only screen and (min-width: 600px) {
    width: 56%;
    height: 1825px;
    z-index: 2000;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.445);
  }
  @media only screen and (min-width: 1025px) {
    //（ここにパソコン用スタイルを記述）
    display: none;
  }
}
/* 
l-main
「ダミーサイト」の画像・その下２つの並ぶ画像をまとめた部分
*/
.l-main {
  background-color: #fff;
  height: auto;
  width: auto;

  @media only screen and (min-width: 600px) {
    //（ここにタブレット用スタイルを記述）
  }
  @media only screen and (min-width: 1025px) {
  }
}