.l-sidebar {
  background-color: #f2ede9;
  width: 87.5%;
  height: 2843px;
  z-index: 1000;
  display: block;
  position: absolute;
  top: 0vw;
  right: 0vw;
  //overflow: auto;
  //overflow-y: auto;
  //position: fixed;
  display: block;
  right: -100%;
  transition: right 0.5s;
  @media only screen and (min-width: 600px) {
    //（ここにタブレット用スタイルを記述）
    background-color: #f2ede9;
    width: 44%;
    height: 1825px;
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0vw;
    right: 0vw;
    display: block;
    right: -100%;
    transition: right 0.5s;
  }
  @media only screen and (min-width: 1025px) {
    background-color: #f2ede9;
    //background-color: red;
    position: static;
    width: 20%;
    height: 2843px;
    z-index: 100000;
    display: block;
  }
}
